[init]
	defaultBranch = master

[alias]
	empty = "commit --allow-empty"

[user]
	email = ebozkurt93@gmail.com
	name = Erdem Bozkurt

[includeIf "gitdir:~/bemlo/"]
	path = ~/dotfiles/git/bemlo-git.conf
